@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300&display=swap');

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Hanken Grotesk', sans-serif;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: #ddd;
}

h5{
    margin: 0;
}
.wrapper{
    width: 400px;
    color: #b5b5b5;
    background-color: #f8f8f8;
    box-shadow:  0px 4px 12px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow:  0px 4px 12px 10px rgba(0, 0, 0, 0.5);
    border-radius: 14px;
}

.screen{
    text-align: right;
    padding: 1.2em .3125em;
    font-size: 3rem;
    color: #ff646c;
    font-weight: 900;
    background: #fff;
    border-radius: 14px;
}

.screen__operation{
    font-size:.95rem;
    color: #b5b5b5;
}


.calc-btn__row{
    display: flex;
    justify-content: space-between;
    margin: 6% 2.45%;
}


.calc-button{
    border: none;
    background: transparent;
    font-size: 1.55rem;
    height: 70px;
    flex-basis: 17.7%;
    color: #7f7c7c;
    font-weight: 400;
}

.border-md{
    background-color: #f7e2e5;
    border-radius: 50%;
    color: #e46c76;
    box-shadow:  0px 12px 20px -3px rgba(228, 108, 118, 0.57);
    -webkit-box-shadow:  0px 12px 20px -3px rgba(228, 108, 118, 0.57);
}

.double{
    flex-basis: 45.7%;
    background-color: #ff646c;
    border-radius: 50px;
    color: #fff;
}